<!DOCTYPE html>
<html>
       <head>  
        <meta charset="utf-8"/>
        <title> ItNut</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/index.css">
            <script src="bootstrap/js/jquery.js"></script>
            <script src="bootstrap/js/bootstrap.min.js"></script>

       </head> 

     <body>
       <div id="bloc_page">
            <header>
                <div id="titre">
                <h1>ItNut</h1>
                <h2> Bienvenue dans notre boutique en ligne !!! </h2>
        </div>
            </header>


        <div id="banniere_image">
             <img src="images/devenez.jpg" alt="Photo" title="!" >
        </div>    
       
        <div class="bouton">
        	<input type="button" value="Rechercher" href="recherche.html"/>
        	<input type="button" value="Formula1" href="formula1.html"/>
        	<input type="button" value="Aloe" href="aloe.html"/>
        	<input type="button" value="Fibre" href="fibre.html"/>
        	<input type="button" value="Thé" href="the.html"/>
        	<input type="button" value="Ajouter un produit" href="ajout.html"/>

        </div>

    </body>

</html>